<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Object Detection & Classification</title>
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@latest"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Ubuntu+Condensed&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home-styles.css') }}">
</head>
<body>
    <div id="heading">
        <h1>Object Detection & Classification</h1>
    </div>

    <div id="about">
        <p id="intro">Welcome to Object Detection and Classification using Camera Vision</p>
        <p id="introText">Our cutting-edge technology in object detection and classification using camera vision brings revolutionary capabilities to your fingertips. Whether you're looking to analyze images or videos, or conduct real-time detection, our platform empowers you with advanced AI algorithms for precise identification and classification of objects.</p>

        <p id="features">Key Features:</p>
        <ul id="featuresText">
            <li><u>High Accuracy:</u> Our system utilizes state-of-the-art deep learning models that ensure high accuracy in object detection and classification, providing reliable results for a wide range of applications.</li>
            <li><u>Compatibility:</u> Whether you want to upload images or videos for analysis or perform real-time detection using your camera, our platform is designed to accommodate diverse use cases and scenarios.</li>
            <li><u>Real-Time Insights:</u> Experience the power of real-time insights as our platform processes data instantaneously, enabling quick decision-making and actionable intelligence.</li>
        </ul>

        <p id="applications">Applications:</p>
        <ul id="applicationsText">
            <li><u>Retail and E-Commerce:</u> Enhance inventory management, automate checkout processes, and deliver personalized customer experiences with intelligent object detection and classification.</li>
            <li><u>Manufacturing and Quality Control:</u> Improve quality control processes, detect defects in real time, and optimize production efficiency with automated object analysis.</li>
            <li><u>Healthcare:</u> Revolutionize medical imaging, patient monitoring, and supply chain management in healthcare facilities using advanced camera vision technology.</li>
            <li><u>Smart Cities and Public Safety:</u> Enable smarter traffic management, enhance surveillance systems, and ensure public safety through proactive object detection and classification.</li>
            <li><u>Transportation and Logistics:</u> Streamline package sorting, optimize fleet management, and improve safety compliance in transportation and logistics operations.</li>
        </ul>

        <p id="working">Here's how it works:</p>
        <p id="workingText">Our platform leverages the latest advancements in AI and computer vision to detect objects accurately and classify them based on predefined categories. Users can upload images or videos through our intuitive interface or leverage real-time detection capabilities using their device's camera. Our algorithms process the data, identify objects of interest, and provide detailed insights and classifications for actionable intelligence.</p>

        <p id="getStarted">Get Started Today:</p>
        <p id="getStartedText">Experience the transformative power of object detection and classification using camera vision. Whether you're a business looking to optimize operations or a researcher exploring new frontiers, our platform offers the tools and technology you need to unlock the full potential of visual data analysis. Get started today and see the world through the lens of intelligent vision technology.</p>
    </div>

    <a href="main.html">
        <button id="startBtn">GET STARTED</button>
    </a>
    
</body>
</html>
