<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Object Detection & Classification</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main-styles.css') }}">
</head>
<body>
    <div id="split">
        <div id="leftDiv">
            <div id="leftContainer">
                <header>Real-Time Detection</header>
                <div id="webcamContainer">
                    <video id="webcam" playsinline autoplay></video>
                    <p id="notPlaying">Detection not Active</p>
                </div>
                <button id="controlsBtn">Stop Detection</button>
            </div>
        </div>
        <div id="rightDiv">
            <div id="rightContainer">
                <header>Image/Video Detection</header>
                <img id="demoImg" src="{{ url_for('static', filename='img/street.webp') }}">
                <form id="uploadForm" action="/upload" method="POST" enctype="multipart/form-data">
                    <input type="file" id="file" name="file" accept="image/*, video/*">
                    <button id="submitBtn" type="submit">Upload</button>
                </form>                
                <img id="resultDemoImg" src="{{ url_for('static', filename='img/result-street.webp') }}">
            </div>
        </div>
    </div>
    <div id="eduContainer">
        <h1>Extra Content</h1>
        <div id="articlesContainer">
            <a href="https://deasadiqbal.medium.com/yolov9-object-detection-on-custom-dataset-computer-vision-project-357bac70daeb" target="_blank"><div id="article1">
                <img src="https://miro.medium.com/v2/resize:fit:720/format:webp/1*8wExXukYjr_uVvHIniCckg.png" alt="">
                <p>YOLOv9 -Object Detection On Custom Dataset | Computer Vision Project</p>
            </div></a>
            <a href="https://towardsdatascience.com/exploring-object-detection-with-r-cnn-models-a-comprehensive-beginners-guide-part-2-685bc89775e2" target="_blank"><div id="article2">
                <img src="https://miro.medium.com/v2/resize:fit:4800/format:webp/0*iS8U_4PDeGERdC7A" alt="">
                <p>Exploring Object Detection with R-CNN Models — A Comprehensive Beginner’s Guide (Part 2)</p>
            </div></a>
        </div>
        <div id="vidsContainer">
            <div id="vid1">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/taC5pMCm70U?si=0TwlMhlAF_VYxVZp" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
            <div id="vid2">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/Cgxsv1riJhI?si=gUXqZBVhqc3XMj1N" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>